<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <div class="blo">Hello, this is the user profile page!</div>
        <div class="blu"><%= user.firstName %></div>
        <div class="blu"><%= user.lastName %></div>
        <div class="blu"><%= user.email %></div>
        <div class="blu"><%= user.dob %></div>
        <a class="grey darken-4 z-depth-5 btn" href="/auth/logout">LOG OUT</a>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
